<div class="comment">
	<p class="comment_title">
	  <strong>
		  <%= comment.commenter %>
	  </strong>
	</p>
 
	<p>
	  <%= comment.body %>
	</p>

	<p class="comment_delete">
	  <%= link_to 'Delete', [comment.post, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	</p>
</div>
